
/obj
Pages/Privacy.cshtml
obj/Debug/net8.0/Proyecto Software.assets.cache
obj/Debug/net8.0/Proyecto Software.AssemblyInfoInputs.cache
obj/Debug/net8.0/Proyecto Software.assets.cache
Pages/Privacy.cshtml
Pages/Privacy.cshtml
Pages/Privacy.cshtml
obj/Debug/net8.0/project.razor.vscode.bin
obj/Debug/net8.0/Proyecto Software.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Proyecto Software.pdb
obj/Debug/net8.0/ref/Proyecto Software.dll
obj/Debug/net8.0/refint/Proyecto Software.dll
obj/Debug/net8.0/Proyecto Software.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Proyecto Software.dll
obj/Debug/net8.0/Proyecto Software.AssemblyInfo.cs
obj/Debug/net8.0/Proyecto Software.AssemblyInfoInputs.cache
obj/Debug/net8.0/Proyecto Software.assets.cache
bin/Debug/net8.0/Proyecto Software.pdb
obj/Debug/net8.0/apphost.exe
bin/Debug/net8.0/Proyecto Software.exe
