@page
@model Proyecto_Software.Pages.PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>Esta página está dedicada a nuestra política de privacidad. Aquí puedes encontrar información sobre cómo manejamos la privacidad de los datos de nuestros usuarios.</p>
    <p>Para obtener más información, consulta la <a href="https://privacy.microsoft.com/" target="_blank">Política de privacidad de Microsoft</a>.</p>
</div>
